body {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #000; 
}

.calculator {
  width: 360px; 
  background: #000;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.display {
  background: #000;
  color: white;
  font-size: 2.5rem;
  text-align: right;
  padding: 20px;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}

button {
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  height: 70px;
  width: 70px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

button.number {
  background: #333; 
  color: white;
}

button.number:hover {
  background: #444; 
}


button.operator {
  background: #333;
  color: #00ff00; 
}

button.operator:hover {
  background: #444; 
}


button.clear {
  background: #800020; 
  color: white;
}

button.clear:hover {
  background: #a0002a; 
}

button.default {
  background: #333;
  color: white;
}

button.default:hover {
  background: #444;
}

button.percent {
  background: #333; 
  color: #00ff00; 
}

button.percent:hover {
  background: #444;
}

button.equals {
  background: #00ff00; 
  color: white;
}

button.equals:hover {
  background: #00cc00; 
}

button:active {
  transform: scale(0.95);
}
